/*
Résolution tablette 
L = 1620  
l = 2160
*/

*,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
  
}

/* body{
    width : 1620px;
    height: 2160px;
} */


